[submodule "videgrenier"]
	path = submodules/videgrenier
	url = https://github.com/caracole-io/videgrenier.git
[submodule "submodules/circuitscourts"]
	path = submodules/circuitscourts
	url = git@github.com:caracole-io/circuitscourts.git
