[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
wagtail = "*"
django-registration-redux = "*"
django = "<4"
pillow = "==6.2.2"  # Pinned to alpine 3.11's version
lxml = "==4.4.2"    # Pinned to alpine 3.11's version
django-yeouia = "*"
dmdm = "*"

[dev-packages]
"flake8" = "*"
python-coveralls = "*"
safety = "*"
"psycopg2-binary" = "*"
raven = "*"
yapf = "*"
pygments-zenburn = "*"
ipython = "*"
