[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
wagtail = "*"
django-registration-redux = "*"
django = "<2.3"
pillow = "==5.4.1"  # Pinned to alpine 3.9's version
olefile = "==0.43"  # Pinned to alpine 3.9's version
lxml = "==4.2.5"    # Pinned to alpine 3.9's version
django-yeouia = "*"
dmdm = "*"

[dev-packages]
"flake8" = "*"
python-coveralls = "*"
safety = "*"
"psycopg2-binary" = "*"
raven = "*"
yapf = "*"
pygments-zenburn = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
