[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
wagtail = "*"
django-registration-redux = "*"
django = "<2.1"
pillow = "==4.3.0"  # Pinned to alpine 3.8's version
olefile = "==0.43"  # Pinned to alpine 3.8's version
django-extensions = "*"
XlsxWriter = "*"

[dev-packages]
"flake8" = "*"
python-coveralls = "*"
safety = "*"
"psycopg2" = "*"
raven = "*"

[requires]
python_version = "3.6"
