{% extends 'ndh.html' %}
{% load static %}

{% block pagetitle %}Caracole - {% block title %}{{ title }}{% endblock %}{% endblock %}
{% block sitetitle %}Caracole{% endblock %}

{% block navbarleft %}
<li class="nav-item"><a class="nav-link" href="{% url 'videgrenier:home' %}">Vide Grenier</a></li>
{% endblock %}

{% block content %}
<h1>Hello Caracole</h1>
<p>Site en constructions…</p>
<p><a href="http://caracole.le-pic.org/caracole-v4/accueil/agenda.2.4.php">Aller sur l’ancier site</a></p>
{% endblock %}
