{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}Accueil{% endblock %}

{% block main_content %}
<!-- Synthèse Caracole -->
<main>
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for carousel in page.carousels.all %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for carousel in page.carousels.all %}
              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                {% if carousel.href %}<a href="{{ carousel.href }}">{% endif %}
                {% image carousel.img width-730 class="d-block w-100"%}
                {% if carousel.href %}</a>{% endif %}
                <div class="carousel-caption d-none d-md-block">
                  <h3>{{ carousel.title }}</h3>
                  <p>{{ carousel.text }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h2>{{ page.title }}</h2>
          {{ page.body|richtext }}
          <a class="btn btn-outline-success" href="pages/association"><i class="fa fa-sign-out"></i> En savoir plus...</a>
          <img src="{% static 'img/escargot.png' %}" class="mb-2" alt="escargot"/>
        </div>
      </div>
    </div>
  </section>
  <!-- / Synthèse Caracole -->
  <!-- Vidéo & actualités -->
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><div class="titreRubrique">L'actu du moment</div></div>
        <div class="col-md-8">
          <h3><i class="fa fa-commenting"></i> Sandrine nous parle de Caracole</h3>
          <img class="img-fluid mb-3" src="{% static 'img/730x410.png' %}" alt="vidéo"/>
        </div>
        <div class="col-md-4 agenda">
          <h3><i class="fa fa-calendar"></i> Les événements à venir</h3>
          <ul class="list-unstyled">
            <li class="media">
              <a href=""><img class="mr-3 img-thumbnail" src="{% static 'img/mystere_evenement_petit.jpg' %}" alt="événement mystere"></a>
              <div class="media-body mb-2">
                <!-- Affichage 3 derniers événements -->
                <p class="dateDesc">sam 13 oct 2018 - &agrave; partir de 18H</p>
                <a href=""><h6 class="mt-0 mb-1">Myst&egrave;re aux 50</h6></a>
                <!-- Extrait 95 caractères -->
                <p class="descriptionEvent">On ne vous en dit pas plus... R&eacute;servez votre soir&eacute;e, vous ne le regretterez pas...</p>
              </div>
            </li>
            <li class="media">
              <a href=""><img class="mr-3 img-thumbnail" src="{% static 'img/carabricole_evenement_petit.jpg' %}" alt="Carabricole"></a>
              <div class="media-body mb-2">
                <p class="dateDesc">sam 13 oct 2018 - 14h30 // 18h30</p>
                <a href="agenda.html"><h6 class="mt-0 mb-1">Car@bricole</h6></a>
                <!-- Extrait 95 caractères -->
                <p class="descriptionEvent">Un aspirateur qui souffle, une horloge qui dort ? Venez les r&eacute;parer avec nous !</p>
              </div>
            </li>
            <li class="media">
              <a href=""><img class="mr-3 img-thumbnail" src="{% static 'img/neutre_94x94.png' %}" alt="soutien aux faucheurs"></a>
              <div class="media-body mb-2">
                <p class="dateDesc">sam 13 nov 2018 - 20H</p>
                <a href=""><h6 class="mt-0 mb-1">Collégiale</h6></a>
                <!-- Extrait 95 caractères -->
                <p class="descriptionEvent">Les r&eacute;unions du Coll&egrave;ge de sont ouverts &agrave; tous les adh&eacute;rents. Merci de pr&eacute;venir de votre venue.</p>
              </div>
            </li>
          </ul>
          <a class="btn btn-outline-success" href="agenda.html"><i class="fa fa-sign-out"></i>  Tous les &eacute;v&eacute;nements</a>
        </div>
      </div>
    </div>
  </section>
  <!-- / Vidéo & actualités -->
  <!-- Affichage 3 derniers articles "A la une" -->
  <section class="nouvelles mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><div class="titreRubrique">Les articles r&eacute;cents</div></div>
        <div class="col-md-4">
          <h3><a href="#">Cumque pertinacius ut legum</a></h3>
          <img class="mb-3" src="{% static 'img/350x150.png' %}" alt="Les Cabas de Caracole"/>
          <!-- Affichage extrait 50 mots -->
          <p>Spatio cum consuetudo Scaevola ceteris maiorum se spatio Turpis se minime si et neque in ut res in Turpis turpes est quis sumus consuetudo et causa contra publicam de loco in iam rei neque amicitia ceteris iam ceteris eo casus turpes Deflexit eo futuros causa minime quis causa longe cum<a href=""></a></p>
        </div>
        <div class="col-md-4">
          <h3><a href="#">Et eodem impetu Domitianum</a></h3>
          <img class="mb-3" src="{% static 'img/350x150.png' %}" alt="la chorale de Caracole"/>
          <!-- Affichage extrait 50 mots -->
          <p>Cela ressemblait aux gros ordinateurs que David avait pu voir dans des films de science fiction. Beaucoup de petites lumières indiquaient qu’il était en fonction. À la base, une sorte d’aquarium avait été installé tout autour. Certainement le système de refroidissement car des bulles montai<a href=""></a></p>
        </div>
        <div class="col-md-4">
          <h3><a href="#">Vide, quantum, inquam, fallare</a></h3>
          <img class="mb-3" src="{% static 'img/350x150.png' %}" alt="c@rabricole"/>
          <!-- Affichage extrait 50 mots -->
          <p>In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et Hierosolymis captis in provinciae speciem delata iuris dictione formavit<a href=""></a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- / Affichage 3 derniers articles "A la une" -->
</main>
<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Nous trouver</h5>
        <img class="mr-3" src="{% static 'img/logo_def.png' %}" alt="logo caracole">
        <h6 class="mt-0 mb-1">Caracole</h6>
        <p>73 chemin Mange Pommes<br>31520 Ramonville Saint-Agne</p>
        <p><i class="fa fa-map-marker"></i> Voir sur la carte</p>
      </div>
      <div class="col-md-3">
        <h5>Garder le contact</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone-square"></i>  07 83 91 66 33</li>
          <li><a href="http://twitter.com/caracole_io" target="_blank"><i class="fa fa-twitter-square"></i>  twitter.com/caracole_io</a></li>
          <li><a href="http://www.facebook.com/caracole.io" target="_blank"><i class="fa fa-facebook-square"></i>  www.facebook.com/caracole.io</a></li>
        </ul>
        <form>
          <div class="form-group">
            <small class="form-text">Je m'abonne au Cara'mel (lettre d'infos).</small>
            <input id="adresseCourriel" type="email" class="form-control" aria-describedby="adresseCourriel" placeholder="Mon adresse courriel">
          </div>
          <button type="submit" class="btn btn-outline-light">Envoyer</button>
        </form>
      </div>
      <div class="col-md-3">
        <h5>Infos s&eacute;rieuses</h5>
        <p>Directeur de publication : Collège de caracole</p>
        <p>© 2018 - Association Caracole<br>Tous droits réservés... bon en m&ecirc;me temps, la prorpi&eacute;t&eacute; intellectuelle...</p>
      </div>
      <div class="col-md-3">
        <h5>Se connecter</h5>
        <form>
          <div class="form-group">
            <input id="emailHelp" type="email" class="form-control mb-2" aria-describedby="emailHelp" placeholder="Mon adresse courriel">
            <input id="passWord" type="password" class="form-control" aria-describedby="passWord" placeholder="Mon mot de passe">
          </div>
          <button type="submit" class="btn btn-outline-light">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
</footer>
<!-- / footer -->
{% endblock %}
