{% extends 'caracole/cara_page.html' %}

{% block page_head %}{% endblock %}

{% block subcontent %}
{% for article in articles %}
{% include 'caracole/_article.html' with short=True article=article %}
{% endfor %}
{% endblock %}

{% block rubriques %}
<!--
  <div class="rubrique">
  <div class="titreRubrique">Calendrier</div>
  TODO
  </div>
  <div class="rubrique">
  <div class="titreRubrique">Archives</div>
  TODO
  </div>
-->
<div class="rubrique">
  <div class="titreRubrique">Rubriques</div>
  <ul class="list-unstyled">
    {% for tag in tags %}
    <li><i class="fa fa-bookmark"></i> <a href="{% url 'tag' tag.slug %}">{{ tag|title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
