{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.nom }}{% endblock %}


{% block content %}
<!-- Affichage principal -->
<section>
  <div class="container">
    <div class="row">
      <!-- Affichage Main -->
      <div class="col-md-12"><h1>Nous trouver</h1></div>
      <div class="col-md-12 mb-5">
        <iframe class="embed-responsive" height="400" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen
            src="https://www.openstreetmap.org/export/embed.html?bbox=1.4889103174209597%2C43.54216354362791%2C1.4946502447128298%2C43.550021675640394&amp;layer=mapnik&amp;marker=43.546092737683026%2C1.4917802810668945"></iframe>
        <br/><small><a href="https://www.openstreetmap.org/?mlat=43.54609&amp;mlon=1.49178#map=18/43.54609/1.49178">Afficher une carte plus grande</a></small>
      </div>
      <div class="col-md-12  mb-5">
        <h3>Permanence de l'association</h3>
        {{ page.content|richtext }}
      </div>
      <!--
      <div class="col-md-12"><h3 class="courriel">Nous envoyer un message</h3></div>
      <form action="{%url 'mail-contact' %}" method="post" role="form" class="col-md-12 contacts">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Votre nom" id="form_name" name="form_name">
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Votre adresse courriel" id="form_adress" name="form_adress">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <textarea class="form-control" rows="5" placeholder="Votre message" id="form_message" name="form_message"></textarea>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputState">Ce message s'adresse &agrave; :</label>
            <select id="inputState" class="form-control" id="form_dest" name="form_dest">
              <option value="contact" selected>L'association : bénévolat dans l'asso, questions sur son fonctionnement...</option>
              <option value="cabas">Le Cabas : proposer un producteur, besoin d'info sur un produit...</option>
              <option value="carabricole">Carabricole : proposer une intervention, questions quoi-où-comment...</option>
              <option value="chorale">La chorale : proposer votre voix, questions sur le fonctionnement...</option>
              <option value="college">Le collège : savoir où se tient le prochain collège, proposer un événement...</option>
              <option value="comcom">La Com'com : besoin d'un logo, questions sur la communication...</option>
              <option value="jardin">Le jardin partagé : envie de jardiner avec nous, des iris ou une brouette à donner...</option>
            </select></div>
        </div>
        <button type="submit" class="btn btn-success">Envoyer</button>
      </form>
      -->
      <!-- / Affichage Main -->
    </div>
  </div>
</section>
<!-- / Affichage Principal -->
{% endblock %}
